	<!-- Main content Start -->
        <div class="main-content">
            <!--Full width header Start-->
            <div class="full-width-header home8-style4 home9">
                <!--Header Start-->
                <header id="rs-header" class="rs-header">
                    <!-- Menu Start -->
                    <!-- Topbar Area Start -->
                    <div class="topbar-area home9-topbar">
                        <div class="container">
                            <div class="row y-middle">
                                <div class="col-md-7">
                                    <ul class="topbar-contact">
                                        <li>
                                            <i class="flaticon-email"></i>
                                            <a href="mailto:support@rstheme.com">support@rstheme.com</a>
                                        </li>
                                        <li>
                                            <i class="flaticon-location"></i>
                                            374 William S Canning Blvd, MA 2721, USA
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-5 text-end">
                                    <ul class="topbar-right">
                                        <li class="login-register">
                                            <i class="fa fa-sign-in"></i>
                                            <a href="login.html">Login</a>/<a href="register.html">Register</a>
                                        </li>
                                        <li class="btn-part">
                                            <a class="apply-btn" href="#">Apply Now</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row p-3">
                            <div class="col-lg-2">
                                    <div class="logo-cat-wrap">
                                        <div class="logo-part p-3">
                                            <a href="index.html">
                                                <!-- <img class="normal-logo" src="assets/images/logo-yellow.png" alt=""> -->
                                                 <h3 class="text-white">College Website</h3>
                                                
                                            </a>
                                        </div>
                                </div>
                            </div>

                            <div class="col-lg-10">
                                  <nav class="navbar navbar-expand-lg navbar-light">
                                        <div class="container-fluid">
                                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                            </button>

                                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                            <ul class="navbar-nav ms-auto">
                                                <!-- Home -->
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Home</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/about">Header</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">Banner</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">College name</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">About Us</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">Campus Life</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">Approvals & Accreditations</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">Popular Courses</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">Testimonials</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">Recruiters</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">Video</a></li>
                                                        <li><a class="dropdown-item" routerLink="/about2">Footer</a></li>
                                                    </ul>
                                                </li>


                                                <!-- About -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">About Us</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" routerLink="/about">President</a></li>
                                                    <li><a class="dropdown-item" routerLink="/about2">General Secretory</a></li>
                                                    <li><a class="dropdown-item" routerLink="/about2">Vice President</a></li>
                                                    <li><a class="dropdown-item" routerLink="/about2">Principal</a></li>
                                                    <li><a class="dropdown-item" routerLink="/about2">Vision & Mission</a></li>
                                                    <li><a class="dropdown-item" routerLink="/about2">Committees</a></li>
                                                    <li><a class="dropdown-item" routerLink="/about2">approval & Affilation</a></li>
                                                </ul>
                                                </li>

                                                <!-- Academics -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Academics</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" routerLink="/course">Courses</a></li>
                                                    <li><a class="dropdown-item" routerLink="/course2">PO, PEO, PSO & CO (Program and Course Outcomes)</a></li>
                                                    <li><a class="dropdown-item" routerLink="/course3">Value Added/Add-on Courses</a></li>
                                                    <li><a class="dropdown-item" routerLink="/course4">Field Work/Project/Internship</a></li>
                                                    <li><a class="dropdown-item" routerLink="/course5">Library</a></li>
                                                    <li><a class="dropdown-item" routerLink="/course-single">Eligibility</a></li>
                                                </ul> 
                                                </li>

                                                <!-- Admissions  -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Admissions</a>   
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">Admissions</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Program Details</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Eligibility</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Academics Overview</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Fee Structure</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Information Brochure</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Rules & Regulations</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Admission Form</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Required Documents</a></li>
                                                    </ul>
                                                </li>
                                                    
                                                <!-- Resources -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Resources</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">Best Practice</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Extension & Outreach Activity</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">International Affairs Cell</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Women Grievance</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Annual Action Plan</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Internal Complaint Committee</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Anti-Ragging Committee</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Anti-Ragging Squad</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Staff Grievance</a></li>
                                                    </ul>
                                                </li>

                                                <!-- Training & Placement -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Training & Placement</a>   
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">Training & Placement</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Placement Cell</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Career Guidance</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Placement</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Placement Drive</a></li>
                                                    </ul>
                                                </li>

                                                <!-- Student Corner -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Student Corner</a>   
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">Notices</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Course Structure</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Examination</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Hostel Overview</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Hostel Documentation</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Rules & Regulations</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Important Contacts</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Code of Conduct</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Photos for Students</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Club</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Scholarship Section</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team-single">Student Council Committee</a></li>
                                                    </ul>
                                                </li>

                                                <!-- Events -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Events</a>   
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">Event Title</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Event Images</a></li>
                                                    </ul>
                                                </li>

                                                <!-- News -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">News</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">News Title</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">News Images</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">News Details</a></li>
                                                    </ul>
                                                </li>

                                                 <!-- Facilities -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Facilities</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">Facilities Title</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Facilities Details</a></li>
                                                    </ul>
                                                </li>

                                                 <!-- Alumni -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Alumni</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">Alumni Student Details</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Registration Form Details</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Alumni Meet Details</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Alumni for Higher Studies in Different Countries</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team2">Gallery</a></li>
                                                    </ul>
                                                </li>

                                                <!-- E-Bulletin -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">E-Bulletin</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">PDF</a></li>
                                                    </ul>
                                                </li>

                                                <!-- Consultancy -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Consultancy</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">PDF</a></li>
                                                    </ul>
                                                </li>

                                                <!-- Blogs -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Blogs</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">Blog Title</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team">Blog Images</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team">Blog Details</a></li>
                                                    </ul>
                                                </li>

                                                <!-- Contact Us -->
                                                <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Contact Us</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="/team">Address</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team">Mail Id</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team">Contact Number</a></li>
                                                        <li><a class="dropdown-item" routerLink="/team">Map</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                            </div>
                                        </div>
                                    </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Topbar Area End -->
                    <div class="menu-area menu-sticky">
                        <div class="container">
                            <div class="row y-middle">
                               
    
                                <div class="col-lg-2 text-end">
                                    <div class="expand-btn-inner">
                                        <ul>
                                          
    
                                            <li class="user-icon cart-inner no-border mini-cart-active">
                                               
                                                <div class="woocommerce-mini-cart text-start">
                                                    <div class="cart-bottom-part">
                                                        <ul class="cart-icon-product-list">
                                                            <li class="display-flex">
                                                                <div class="icon-cart">
                                                                    <a href="#"><i class="fa fa-times"></i></a>
                                                                </div>
                                                                <div class="product-info">
                                                                    <a href="cart.html">Law Book</a><br>
                                                                    <span class="quantity">1 × $30.00</span>
                                                                </div>
                                                                <div class="product-image">
                                                                    <a href="cart.html"><img src="assets/images/shop/1.jpg" alt="Product Image"></a>
                                                                </div>
                                                            </li>
                                                            <li class="display-flex">
                                                                <div class="icon-cart">
                                                                    <a href="#"><i class="fa fa-times"></i></a>
                                                                </div>
                                                                <div class="product-info">
                                                                    <a href="cart.html">Spirit Level</a><br>
                                                                    <span class="quantity">1 × $30.00</span>
                                                                </div>
                                                                <div class="product-image">
                                                                    <a href="cart.html"><img src="assets/images/shop/2.jpg" alt="Product Image"></a>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        <div class="total-price text-center">
                                                            <span class="subtotal">Subtotal:</span>
                                                            <span class="current-price">$85.00</span>
                                                        </div>

                                                        <div class="cart-btn text-center">
                                                            <a class="crt-btn btn1" href="cart.html">View Cart</a>
                                                            <a class="crt-btn btn2" href="checkout.html">Check Out</a>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </li>
                                            
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Menu End --> 

                    <!-- Canvas Menu start -->
                <nav class="right_menu_togle hidden-md">
                    <div class="close-btn">
                        <div id="nav-close">
                            <div class="line">
                                <span class="line1"></span><span class="line2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="canvas-logo">
                        <a href="index.html"><img src="assets/images/logo-yellow2.png" alt="logo"></a>
                    </div>
                    <div class="offcanvas-text">
                        <p>We denounce with righteous indige nationality and dislike men who are so beguiled and demo  by the charms of pleasure of the moment data com so blinded by desire.</p>
                    </div>
                    <div class="offcanvas-gallery">
                        <div class="gallery-img">
                            <a class="image-popup" href="assets/images/gallery/1.jpg"><img src="assets/images/gallery/1.jpg" alt=""></a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="assets/images/gallery/2.jpg"><img src="assets/images/gallery/2.jpg" alt=""></a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="assets/images/gallery/3.jpg"><img src="assets/images/gallery/3.jpg" alt=""></a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="assets/images/gallery/4.jpg"><img src="assets/images/gallery/4.jpg" alt=""></a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="assets/images/gallery/5.jpg"><img src="assets/images/gallery/5.jpg" alt=""></a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="assets/images/gallery/6.jpg"><img src="assets/images/gallery/6.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="map-img">
                        <img src="assets/images/map.jpg" alt="">
                    </div>
                    <div class="canvas-contact">
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Canvas Menu end -->
                </header>
                <!--Header End-->
            </div>
            <!--Full width header End-->

            <!-- Banner Section Start -->
            <div id="rs-banner" class="rs-banner style8">
                <div class="container">
                    <div class="banner-content">
                         <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">World Leading University</div>
                         <h1 class="sl-title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">Educavo University In Canada</h1>
                         <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                             <a class="readon yellow-btn" href="#">Discover More</a>
                         </div>
                    </div>
                </div>
            </div>
            <!-- Banner Section End -->

            <!-- Features Section start -->
            <div id="rs-features" class="rs-features style2">
                <div class="container">
                   <div class="row">
                        <div class="col-lg-3 col-md-6 md-mb-30">
                            <div class="rs-iconbox-area">
                                <div class="icon-area">
                                   <img src="assets/images/features/style2/1.png" alt="">
                                </div>
                                <div class="text-area">
                                   <h3 class="icon-title">Future Students</h3>
                                </div>
                            </div>
                        </div>  
                        <div class="col-lg-3 col-md-6 md-mb-30">
                            <div class="rs-iconbox-area">
                                <div class="icon-area">
                                   <img src="assets/images/features/style2/2.png" alt="">
                                </div>
                                <div class="text-area">
                                   <h3 class="icon-title">World Students</h3>
                                </div>
                            </div>
                        </div>  
                        <div class="col-lg-3 col-md-6 sm-mb-30">
                            <div class="rs-iconbox-area">
                                <div class="icon-area">
                                   <img src="assets/images/features/style2/3.png" alt="">
                                </div>
                                <div class="text-area">
                                   <h3 class="icon-title">Current Students</h3>
                                </div>
                            </div>
                        </div>  
                        <div class="col-lg-3 col-md-6">
                            <div class="rs-iconbox-area">
                                <div class="icon-area">
                                   <img src="assets/images/features/style2/4.png" alt="">
                                </div>
                                <div class="text-area">
                                   <h3 class="icon-title">Alumni & Donors</h3>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- Features Section End -->

            <!-- About Section Start -->
            <div class="rs-about style9 pt-100 pb-100 md-pt-70 md-pb-70">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-lg-6 col-md-12 md-mb-40">
                         <div class="img-part js-tilt">
                             <img src="assets/images/about/home9/about.png" alt="images">
                         </div>
                      </div>
                      <div class="col-lg-6 pl-100 md-pl-15 col-md-12">
                          <div class="content">
                              <div class="sub-title mb-20">
                                  About Us
                              </div>
                              <h2 class="sl-title mb-40 md-mb-20">We are leading discovery and innovation since 1905</h2>
                              <p class="desc mb-50">
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, eius to mod tempor incidi dunt ut labore et dolore magna aliqua. Ut enims ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, eius to mod tempor incidi dunt ut labore et dolore magna aliqua. Ut enims ad minim veniam.Lorem sum dolor sit amet.
                              </p>
                          </div>
                            <div class="btn-part">
                                <a class="readon yellow-btn" href="#">Discover More</a>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
            <!-- About Section End -->

            <!-- Categories Section Start -->
            <div id="rs-categories" class="rs-categories home9-style event-bg pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                    <div class="sec-title3 text-center mb-45">
                        <div class="sub-title yellow-color">Choose Your Path</div>
                        <h2 class="title black-color">Study With Us</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 md-mb-40">
                            <div class="categories-items">
                                <div class="images-part">
                                    <a href="#"><img src="assets/images/categories/home9/1.jpg" alt=""></a>
                                </div>
                                <div class="image-content">
                                   <div class="effect-icon">
                                       <i class="fa fa-paperclip"></i>
                                   </div>
                                   <div class="title">
                                       <a href="#">Undergraduate Programs</a>
                                   </div>
                                   <div class="description">
                                       <p>Arts, business, health, science and more, begin your journey with a program educavo.</p>
                                   </div>
                                    <div class="button-bottom">
                                        <div class="button-effect">
                                            <a href="#">Join Program</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="col-lg-4 md-mb-40">
                            <div class="categories-items">
                                <div class="images-part">
                                    <a href="#"><img src="assets/images/categories/home9/2.jpg" alt=""></a>
                                </div>
                                <div class="image-content">
                                   <div class="effect-icon">
                                       <i class="fa fa-graduation-cap"></i>
                                   </div>
                                   <div class="title">
                                       <a href="#">Graduate Programs</a>
                                   </div>
                                   <div class="description">
                                       <p>Arts, business, health, science and more, begin your journey with a program educavo.</p>
                                   </div>
                                    <div class="button-bottom">
                                        <div class="button-effect">
                                            <a href="#">Join Program</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="col-lg-4">
                            <div class="categories-items">
                                <div class="images-part">
                                    <a href="#"><img src="assets/images/categories/home9/3.jpg" alt=""></a>
                                </div>
                                <div class="image-content">
                                   <div class="effect-icon">
                                       <i class="fa fa-laptop"></i>
                                   </div>
                                   <div class="title">
                                       <a href="#">Online Courses</a>
                                   </div>
                                   <div class="description">
                                       <p>Arts, business, health, science and more, begin your journey with a program educavo.</p>
                                   </div>
                                    <div class="button-bottom">
                                        <div class="button-effect">
                                            <a href="#">Join Program</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categories Section End -->

            <!-- Video Section Start -->
            <div class="rs-video-home9">
                <div class="img-part media-icon yellow-color">
                    <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
            <!-- Video Section Start -->

            <!-- CTA Section Start -->
            <div class="rs-cta home9-style">
                <div class="partition-bg-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6 pl-90 md-pl-15">
                                <div class="sec-title3 mb-40">
                                    <div class="sub-title big">Campus Safety</div>
                                        <h2 class="title white-color pr-70">COVID-19 information and updates</h2>
                                    <div class="desc white-color mb-40">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, eius to mod tempor incidi dunt ut labore et dolore magna aliqua. Ut enims ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, eius to mod tempor incidi dunt ut labore et dolore magna aliqua. Ut enims ad minim veniam.Lorem sum dolor sit amet.
                                    </div>
                                  <div class="btn-part">
                                      <a class="readon yellow-btn transparent3" href="#">Covid-19 Updates</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CTA Section End --> 


            <!-- Testimonial Section Start -->
            <div class="rs-testimonial home9-style pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 sm-mb-40">
                            <div class="image-part js-tilt">
                                <img src="assets/images/testimonial/style9/1.png" alt="images">
                            </div>
                        </div> 
                        <div class="col-lg-6 pl-65 md-pl-15 col-md-6">
                          <div class="img-part mb-30">
                              <img src="assets/images/testimonial/style9/2.png" alt="images">
                          </div>
                          <div class="rs-carousel owl-carousel" 
                              data-loop="true" 
                              data-items="1" 
                              data-margin="30" 
                              data-autoplay="true" 
                              data-hoverpause="true" 
                              data-autoplay-timeout="5000" 
                              data-smart-speed="800" 
                              data-dots="true" 
                              data-nav="false" 
                              data-nav-speed="false" 

                              data-md-device="1" 
                              data-md-device-nav="false" 
                              data-md-device-dots="true" 
                              data-center-mode="false"

                              data-ipad-device2="1" 
                              data-ipad-device-nav2="false" 
                              data-ipad-device-dots2="true"

                              data-ipad-device="1" 
                              data-ipad-device-nav="false" 
                              data-ipad-device-dots="true" 

                              data-mobile-device="1" 
                              data-mobile-device-nav="false" 
                              data-mobile-device-dots="false">
                              <div class="testi-item">
                                 <div class="item-content">
                                    <p>Education is the passport to the future for tomorrow belongs to those who pre pare for it today. Sed ut perspiciatis unde omnis iste natus error sit vo luptatem. Education is the passport to the future for tomorrow belongs</p>
                                     <div class="testi-information">
                                         <div class="name">Mahadi Mansura</div>
                                         <span class="designation"> CSE Student</span>
                                     </div>
                                 </div>           
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial Section End -->
            
            <!-- Blog Section Start -->
            <div id="rs-blog" class="rs-blog home9-style event2-bg pt-94 pb-100 md-pt-64 md-pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 pr-75 md-pr-15 md-mb-50">
                            <div class="sec-title3 mb-50 md-mb-30">
                                <div class="sub-title yellow-color">News</div>
                                <h2 class="title black-color">Latest News</h2>
                            </div>
                            <div class="row align-items-center no-gutter white-bg blog-item mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                                <div class="col-md-6">
                                    <div class="image-part">
                                        <a href="#"><img src="assets/images/blog/1.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                          <li><i class="fa fa-calendar-check-o"></i>August 28, 2020</li>
                                        </ul>
                                        <h3 class="title"><a href="#">Pandemic drives millions from Latin America’s</a></h3>
                                        <p class="txt">We denounce with righteous indige nation and...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutter white-bg blog-item mb-30 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                                <div class="col-md-6">
                                    <div class="image-part">
                                        <a href="#"><img src="assets/images/blog/2.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                          <li><i class="fa fa-calendar-check-o"></i>August 28, 2020</li>
                                        </ul>
                                        <h3 class="title"><a href="#">This is a great source of content for anyone…</a></h3>
                                        <p class="txt">We denounce with righteous indige nation and...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutter white-bg blog-item wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                                <div class="col-md-6">
                                    <div class="image-part">
                                        <a href="#"><img src="assets/images/blog/3.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                          <li><i class="fa fa-calendar-check-o"></i>August 19, 2020</li>
                                        </ul>
                                        <h3 class="title"><a href="#">Shutdown of schools extended to Aug 31</a></h3>
                                        <p class="txt">We denounce with righteous indige nation and...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 lg-pl-0">
                            <div class="sec-title3 mb-50 md-mb-30">
                                <div class="sub-title yellow-color">Events</div>
                                <h2 class="title black-color">Latest Events</h2>
                            </div>
                            <div class="events-short-top mb-30 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                                <div class="date-part">
                                    <span class="month">June</span>
                                    <div class="date">20</div>
                                </div>
                                <div class="content-part">
                                    <div class="categorie">
                                        <a href="#">Recipes</a>
                                    </div>
                                    <h3 class="title"><a href="#">Spicy Quince And Cranberry Chutney</a></h3>
                                    <p class="txt">Educavo Events Description Lorem ipsum dolor sit amet, consectetuer...</p>
                                </div>
                            </div>
                            <div class="events-short-top mb-30 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                                <div class="date-part">
                                    <span class="month">June</span>
                                    <div class="date">20</div>
                                </div>
                                <div class="content-part">
                                    <div class="categorie">
                                        <a href="#">Recipes</a>
                                    </div>
                                    <h3 class="title"><a href="#">Persimmon, Pomegranate, And Massaged Kale Salad</a></h3>
                                    <p class="txt">Educavo Events Description Lorem ipsum dolor sit amet, consectetuer...</p>
                                </div>
                            </div> 
                            <div class="events-short-top wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                                <div class="date-part">
                                    <span class="month">June</span>
                                    <div class="date">20</div>
                                </div>
                                <div class="content-part">
                                    <div class="categorie">
                                        <a href="#">Recipes</a>
                                    </div>
                                    <h3 class="title"><a href="#">Essential Fall Fruits That Aren’t Apples</a></h3>
                                    <p class="txt">Educavo Events Description Lorem ipsum dolor sit amet, consectetuer...</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Section End -->

            <!-- Newsletter section start -->
            <div class="rs-newsletter style1 event2-bg yellow-color mb--90 sm-mb-0 sm-pb-70">
                <div class="container">
                    <div class="newsletter-wrap">
                      <div class="row y-middle">
                          <div class="col-lg-6 col-md-12 md-mb-30">
                            <div class="content-part">
                                <div class="sec-title">
                                    <div class="title-icon md-mb-15">
                                        <img src="assets/images/newsletter2.png" alt="images">
                                    </div>
                                    <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                              <form class="newsletter-form">
                                  <input type="email" name="email" placeholder="Enter Your Email" required="">
                                  <button type="submit">Submit</button>
                              </form>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <!-- Newsletter section end -->
          
        </div> 
        <!-- Main content End -->

        <!-- Footer Start -->
        <footer id="rs-footer" class="rs-footer home9-style">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                         <div class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50">
                            <h3 class="widget-title">About Us</h3>
                            <ul class="site-map">
                                <li><a href="#">President</a></li>
                                <li><a href="#">General Secretory</a></li>
                                <li><a href="#">Vice President</a></li>
                                <li><a href="#">Principal</a></li>
                                <li><a href="#">Vision & Mission</a></li>
                                <li><a href="#">Committees</a></li>
                                <li><a href="#">approval & Affilation</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                            <h3 class="widget-title">Contact Us</h3>
                            <ul class="site-map">
                                <li><a href="#">Address</a></li>
                                <li><a href="#">Mail Id</a></li>
                                <li><a href="#">Contact Number</a></li>
                                <li><a href="#">Map</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50">
                            <h3 class="widget-title">Training & Placement</h3>
                            <ul class="site-map">
                                <li><a href="#">Placement Cell</a></li>
                                <li><a href="#">Career Guidance</a></li>
                                <li><a href="#">Placement</a></li>
                                <li><a href="#">placement Drive</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                            <h3 class="widget-title">Blog</h3>
                            <ul class="site-map">
                                <li><a href="#">Blog Title</a></li>
                                <li><a href="#">Blog Images</a></li>
                                <li><a href="#">SBlog Details </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">                    
                    <div class="row y-middle">
                        <div class="col-lg-4 md-mb-20">
                            <div class="footer-logo md-text-center">
                                <a href="index.html"><img src="assets/images/logo-yellow.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-4 md-mb-20">
                            <div class="copyright text-center md-text-start">
                                <p>&copy; 2020 All Rights Reserved. Developed By <a href="http://rstheme.com/">RSTheme</a></p>
                            </div>
                        </div>
                        <div class="col-lg-4 text-end md-text-start">
                            <ul class="footer-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->

        <!-- start scrollUp  -->
        <div id="scrollUp" class="yellow-color">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- End scrollUp  -->

        <!-- Search Modal Start -->
        <div class="modal fade search-modal" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
            <button type="button" class="close" data-bs-dismiss="modal">
              <span class="flaticon-cross"></span>
            </button>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="search-block clearfix">
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Search Here..." type="text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Modal End -->
